body {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 14px;
	line-height: 20px;
}

#site-content {
	padding: 8px;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	max-width: 1024px;
}

#site-header {
	height: 250px;
	width: 100%;
	display: inline-flex;
}

.header-info {
	/*float: left;*/
	width: 33%;
	height: 250px;
	margin: 0 auto;
	position: relative;
	display: block;
	text-align: center;
}

.info-middle {
	margin-left: 5px;
	margin-right: 5px;
}

.container {
    margin-right: auto;
    margin-left: auto;
    *zoom: 1;
}

.container::before, .container::after {
    display: table;
    line-height: 0;
    content: "";
}

.container::after {
    clear: both;
}

.row::after {
    clear: both;
}
.row::before, .row::after {
    display: table;
    line-height: 0;
    content: "";
}
.row {
    margin-left: -20px;
    *zoom: 1;
}

.span6 {
    width: 460px;
}

[class*="span"] {
    float: left;
    min-height: 1px;
    margin-left: 20px;
}

h4 {
	font-family: "Roboto", sans-serif;
	font-weight: 300;
	font-size: 20px;
	color: #820000;
	padding-bottom: 3px;
	border-bottom: 1px solid #820000;
	text-rendering: optimizelegibility;
	line-height: 20px;
	margin: 10px 0;
}

.newsitem {
    margin-bottom: 10px;
    border-bottom: 1px solid #E2E0D8;
    overflow: hidden;
    color: #555;
}

.newsdate {
    font-weight: bold;
    display: inline;
}

.newstext {
    display: inline;
}

.paper {
    border-bottom: solid 1px #EEE;
    margin-bottom: 5px;
    color: #555;
}

.pimg {
    float: left;
    width: 220px;
}

.pimg img {
    height: 70px;
    max-width: 100%;
	vertical-align: middle;
	border: 0;
}

.ptitle {
    padding: 1px;
    margin: 1px;
    font-weight: bold;
}

.pauthors {
    padding: 1px;
    margin: 1px;
    font-style: italic;
}

.pvenue {
    display: inline-block;
    color: #500;
    margin: 1px;
}

ul {
    margin-top: 0;
    margin-bottom: 10px;
}

.listtext {
	list-style: disc;	
	margin: 5px 0;
}

@media only screen and (max-width: 768px) {
	#header-school {
		display: none;
	}
	#header-authorinfo {
		width: 50%;
		height: auto;
	}
	img {
		max-width: 80px;
	}
	#site-header {
		height: auto;
	}
	.header-info {
		font-size: 10px;
		line-height: 10px;
		height: auto;
		width: 50%;
	}
	#site-content, .Mobile {
		width: 460px !important; 
	}
	.pimg {
		float: none;
	}
}